<section>
  <div id="about-container">
    <h1>Vstore</h1>

    <h3>what is Vstore?</h3>
    <p>
      Vstore is a virtual store demo project built in Angular, and is using an
      express API built with mongoDB using Mongoose
    </p>

    <h3>what does it do?</h3>
    <p>
      In this website you can browse, and shop for various products, place, view
      and cancel uncompleted orders
    </p>

    <h3>Features</h3>
    <ul>
      <li>
        This project allows the user to have a smooth experience browsing the
        shop and adding products to cart
      </li>
      <li>
        The main page is where the products are shown, anyone can browse for
        them but login is required to add items to your cart and place orders
      </li>
      <li>
        Search bar with auto-complete and categories select menu can be used to
        filter product names and categories alike
        <div><small class="red">*this also applies to admin panel</small></div>
      </li>
      <li>
        The payment page requies billing information, the information will be
        fetched from the currently logged in user credit cards are NOT stored in
        the database. The user will have to pick a delivery date, only 3
        deliveries possible per day, dates that are full will be marked in
        <strong class="red">red</strong>
      </li>
      <li>
        Successfully placing an order will give the user an option to immediatly
        download the receipt or go back to the main page
        <div>
          <small class="red"
            >**receipts can be downloaded at a ny time from the "My Orders"
            page</small
          >
        </div>
      </li>
      <li>
        Users can change their profile details at any time while logged in
        <div>
          <small class="red"
            >**when changing username or password the user will be required to
            login again</small
          >
        </div>
      </li>
      <li>
        Admins can add products, edit products, view orders and cancel orders.
      </li>
    </ul>
  </div>
</section>
